* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 27px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
}

.intro-content aside h3 {
  margin: 0;
}

.intro-content aside p {
  margin: 0;
}


a {
  text-decoration: none;
}

nav {
  width: 100%;
  padding-bottom: 10px;
  position: fixed;
  margin: 0 0 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background: #fff;
}

nav.black {
  opacity: 0.3%;

  margin-top: 0.2%;
}

.main-header {
  max-width: 100%;
  max-height: 30%;
  background: #fff;
}


.logo {
  display: block;
  background: #222;

  height: 10px;
  background: transparent top left no-repeat;
  background-size: 60px;
  float: left;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}



.logo:hover {
    opacity: 0.5;
}

.main-header-container nav {
  float: left;
  padding-top: 10px;
  padding-left: 25%;
}


.main-header ul {
  background: #222;
  padding-left: 0%;
  list-style: none;
  background: #222;
}

.main-header li {
  float: left;
  margin-left: 10%;
  padding-left: 1%;
}


.main-header ul a {
  font-weight: 390;
  color: #222;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-bottom: 2px solid transparent;
}



.main-header ul a:hover {
  border-color: #94c33a;
  opacity: 0.5;
}

.intro-container {
  background: transparent url(../img/layout/1.jpg);
  background-size: cover;
  background-position: 0% 150%;
  background-attachment: fixed;
  height: 400px;
  opacity: 300%;
  border-bottom: 2px solid transparent;
  margin-top: 3.3%;
}

.intro {
  max-width: 960px;
  padding: 180px 60px;
  margin: 0px auto;
  text-align: center;
  color: #FFFFFF
}


.intro h1 {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1;
  margin: 0;
  margin-bottom: 60px;
}

.intro h1 span {
  display: block;
  font-size: 23px;
}


.intro-content {
  max-width: 960px;
  padding: 40px 20px;
  margin: 0 auto;
}


.intro-content h2 {
  margin: 0 0 10px 0;
}

.intro-text {
  width: 66.66%;
  float: left;
  padding-right: 20px;
}


.intro-text p {
  margin-top: 0;
}


.intro-aside {
  width: 33.33%;
  float:left;
  padding-left: 20px;
}


.columns-container {
  background: #eeeeee;
}


.columns {
  max-width: 960px;
  padding: 40px 0;
  margin: 0 auto;
}


.columns article {
  width: 49%;
  float: left;
  text-align: center;
  padding: 10 20px;
}


.columns article:first-child {
  border: none;
}


.columns h2 {
  margin: 0;
  text-transform: uppercase;
}


.columns .button {
  display: block;
}


.button {
  display: inline-block;
  border: 1px solid #222;
  padding: 10px 20px;
  color: #222;
  text-transform: uppercase;
  font-weight: 300;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.button:hover {
  background: #222;
  color: white;
}


.btn-orange {
  border-color: #ec631c;
  color: #ec631c;
}


.btn-white {
  border-color: #fff;
  color: #fff;
}


.btn-orange:hover {
  background: #ec631c;
  color: #222;
}


.btn-white:hover {
  background: transparent;
  border-color: #ec631c;
  color: #ec631c;
}


.button {
  margin: 10px 10px 0 0;
}


.slogan-container {
  background: #ffffff;
  border-top: 1px solid #222;
}

.slogan {
  max-width: 960px;
  padding: 25px;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.2;
}


.slogan span {
  display: block;
  font-weight: 300;
}


.legal-container {
  background: #2e2c2d;
}

.legal {
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto;
  color: #f1ede4;
}

.legal a {
  font-weight: 700;
  color: #e3d8c6;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.legal a:hover {
  border-color: #f1ede4;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Mediaqueries */

@media screen and (max-width: 850px){

  .main-header {
    text-align: center;
  }

  .logo,
  .main-header nav li {
    float: none;
    display: inline-block;
  }

  .main-header nav {
    float: none;
    display: block;
    padding: 0;
    padding-top: 10px;
  }

  .intro-container {
    height: 400px;
  }

  .intro-text,
  .intro-aside {
    width: 50%;
  }
}

@media screen and (max-width: 600px){

  .intro h1 {
    font-size: 30px;
  }

  .intro h1 span {
    font-size: 16px;
  }

  .columns article {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .columns article:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .gallery article {
    width: 100%;
  }

  .intro-text,
  .intro-aside {
    width: 100%;
    padding: 0;
  }

.intro-aside {
    border-top: 1px solid #222;
    margin-top: 20px;
    padding-top: 20px;
  }
}




/*--------------------------------------------Contact---------------------------------------------- */




.intro-contact {
  max-width: 960px;
  padding: 0%;
  margin: 2% 0% 0% 32% ;
  text-align: left;
  color: #222;
}




.intro-contact h1 {
  font-size: 15px;
  line-height: 0;
  margin-top: 15%;
  font-weight:200;
}

.intro-contact h2 {
  font-size: 15px;
  margin: 0;
  line-height: 0;

}

.intro-contact h3 {
  font-size: 15px;
  line-height: 0;
  margin-top: 10px;
  font-weight:200;
}


.contact-title {
  margin-top: 20px;
  color: #222;
  text-transform: uppercase;
  transition: all 4s ease-in;
  text-align: center;
  }


  }
.contact-title h1{
  font-size: 100px;
  line-height: 1px;
}


#showcase h1 {
  position: relative;
  animation: heading;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes heading {
  0% {top: -10px}
  100% {top: 20px}
}

#contact-form {
  position: relative;
  animation-name: content;
  animation-duration: 650ms;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {top: -10px}
  100% {top: 20px}
}


form {
margin-top: 10px;
transform: all 4s ease-in-out;
}

.form-control{
  padding: 0px 0px 0px 10px;
  background-position: center;
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
  margin-left: 34%;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

}

input {
  height: 45px;
}

.form-control:focus{
  box-shadow: 0 0 10px 4px #d3d3d3  ;
}


form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

form .submit {
  margin: 0px auto;
  display:block;
  width: 250px;
  background: #cbe19d;
  border-color: transparent;
  color: # #2f2f2f;
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 150px;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

textarea {
  resize: none;
}

form .submit:hover{
  background-color: #222;
  color: white;
  }




/*--------------------------------------------About---------------------------------------------- */

.middle {
  top: 20%;
}


.about-text {
  margin-top: 8%;
}

.about-text h2 {
  font-weight: 400;
}

.counting-sec {
  margin-top: 3%;
  padding-top: 1%;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,242,255,0.6054622532606793) 0%, rgba(255,255,255,0) 28%, rgba(243,255,250,1) 64%, rgba(252,255,249,1) 100%);
}


.inner-width {
  max-width: 900px;
  margin:auto;
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #222;
  text-transform: uppercase;
}

.num {
  font-size: 40px;
  margin: 20px 0;

}



.about-text {
  width: 120%;
  float: left;
  padding-right: 20px;
}




/*--------------------------------------------corrugating rolls---------------------------------------------- */


.v-header {
  margin-top: 20%;
  display: flex;
  align-items: center;
  color: #fff;
}


.video-container {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  max-height: 400px;
  box-shadow: 0px 10px 10px 3px #d3d3d3;

  }

#video-elem {
  width: 100%;
}



.header-content {
z-index: 2;
margin-left: 42.4%;
margin-top: -30%;
}




.rollheader1 h2 {
  margin-top: 5%;
  overflow: hidden;
  white-space: nowrap;

  width: 15ch;
  background:  #edffe4 ;
  margin-left: 46%;

}



.rollheader2 h2 {
  margin-top: 1%;
  animation: type 3s steps(40) ;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  width: 32ch;
  background:  #edffe4 ;
  margin-left: 40%;

}

@keyframes type {
  0% {
    width: 0ch;
    border-color: grey;
  }
  100% {
    width: 32ch;
    border-color: grey;
  }
}







.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;
    margin-left: 30%;

    margin-top: 10%;


}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 20px 1%;
    min-width: 50px;
    max-width: 250px;
    min-height: 550px;
    max-height: 500px;
    width: 48%;
    background: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.1);
    background:  #f5f5f5  ;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    margin-left: 10%;
    margin-top: 20%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 4em;
    color: #fff;
        font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */


.grid figure h2 {
    word-spacing:  0.05em;
    font-weight: 800;
    text-transform: uppercase;

}

.grid figure h2 span {
    font-weight: 300;
    font-size: 80%;

}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 0.4px;
    font-size: 100%;
    word-spacing:  0.1em;
      font-weight: 340;
      margin-bottom: 5%;




}

/* icon effects */

/*---------------*/



figure.effect-sadie figcaption::before {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 120%;

    background: #222;
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,10%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    opacity: 0.05;
    -webkit-transform: translate3d(0,-150%,0) translate3d(0,-150px,0);
    transform: translate3d(0,-150%,0) translate3d(0,-150px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,-150px, 0);
}

.grid figure:hover {
  background: #4b4b4b;
}


@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }










@media screen and (max-width: 25em) {
    .codrops-header {
        font-size: 75%;
    }
    .codrops-icon span {
        display: none;
    }
}
